/*-------------------------Create Room--------------------------*/
.Principale{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex: 1 1 auto;
    margin: 0 auto;
    background-image: url('../img/pexels-george-desipris-792381.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
        .Room-selection{
            .tigeLogo-and-title{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20vw;
                margin: 0 auto;
                img{
                    height: 15rem;
                }
                h1{
                    font-size: 4rem;
                    background: -webkit-linear-gradient(#000,#000,orange,orange,orange,orange,orange,orange,#000,#000);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
            .nameRoom{
                padding: 1rem 1rem 1rem 2rem;
                border-radius: 0.2rem 0rem 0rem 0.2rem;
                width: 20vw;
                margin: 1rem auto;
                border:none;
                font-size: 2rem;
                &:focus{
                    outline: none;
                }
            }
            .Generate{
                .generateIdRoom{
                    padding: 1rem 0rem;
                    border-radius: 0.2rem 0rem 0rem 0.2rem;
                    width: 16vw;
                    margin: 1rem 0rem 2rem 0rem;
                    border:none;
                    font-size: 2rem;
                    &:focus{
                        outline: none;
                    }
                    text-align: center;
                }
                button{
                    width: 4vw;
                    padding: 1rem 0rem;
                    border-radius: 0rem 0.2rem 0.2rem 0rem;
                    border: none;
                    font-size: 2rem;
                    &:hover{
                        transition:all 1s;
                        background-color: rgb(189, 189, 189);
                        cursor: pointer;
                    }
                }
            }
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            text-align: center;
            width: 50vw;
            height: 100vh;
            margin: 0 auto;
            background: rgba(255, 255, 255, 0.15);
            border-radius: 1px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(3.5px);
            -webkit-backdrop-filter: blur(3.5px);
            border: 1px solid rgba(255, 255, 255, 0.19);
            .createRoom{
                padding: 1rem 0rem;
                background-color: rgb(211, 137, 0);
                color: #000;
                border-radius: 0.2rem;
                width: 20vw;
                margin: 0rem auto 1rem auto;
                &:hover{
                    transition: all 1s;
                    background-color: rgb(212, 154, 46);
                    color: #000;
                    cursor: pointer;
                    
                }
            }
    }
}